#container
{
    background-color: #dbb6b6;
    color: white;
    float: right;
    width: 72vw;
    min-height: 50vh;
    max-height: max-content;
    border-radius: 20px;
    margin-top: 10vh;
    margin-right: 1vw;
    padding-top:1rem ;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
/* #container *
{
    width: 20%;
    height: 30%;
    margin-top: 20px;
    margin-left: 20px;
    background-color: rgb(58, 57, 57);
    border-radius: 20px;
} */
/* rgb(155 90 105) */
#container *
{
    margin-top:10px;
}