#container
{
    background-color: #dbb6b6;
    color: white;
    float: right;
    width: 72vw;
    min-height: 50vh;
    max-height: max-content;
    border-radius: 20px;
    margin-top: 10vh;
    margin-right: 1vw;
    padding-top:1rem ;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}