
.header {
  /* font-size: x-large; */
  font-weight: bold;
  color: #e6e6e6;
}
form input {
  color: #e6e6e6;
  /* font-size: large; */
  padding-left: 2%;
  border: none;
  border-radius: 5px;
  height: 4vh;
  width: 70%;
  margin: 1% auto;
  background-color: #4c4c4c;
  outline: none;
}
button {
  display: block;
  background-color: #a7d5a7;
  border: none;
  height: 4vh;
  width: 5vw;
  margin-top: 1vh;
  padding-left: 5%;
  text-align: left;
  border-radius: 2px;
  font-weight: bold;
}
form{
  margin:5%;
}
