.formcontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  height: 20%;
  margin-left: 5%;
}
.header {
  font-size: x-large;
  font-weight: bold;
  color: #e6e6e6;
}
form input {
  color: #e6e6e6;
  font-size: large;
  padding-left: 2%;
  border: none;
  border-radius: 5px;
  height: 4vh;
  width: 70%;
  margin: 1% auto;
  background-color: #4c4c4c;
  outline: none;
}
button {
  display: block;
  background-color: #a7d5a7;
  border: none;
  height: 4vh;
  width: 10vw;
  margin-top: 1vh;
  border-radius: 2px;
  font-size: larger;
  font-weight: bold;
}
