
#container
{
  display: grid;
  grid-template-columns : repeat(7,1fr);
  min-height: 150vh;
}
#inputsection
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #ac8686;
  grid-column: 1/3;
}
#cvsection
{
  /* background-color: slategray; */
  background-color: #874c57;
  grid-column: 3/end;
}